
.custom-upload {
    border: 3px dashed #ccc;
    display: inline-block;
    padding: 100px 100px;
    cursor: pointer;
 
}

.custom-upload:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out 0.1s;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

.wrapper {
    margin: 10px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
  }